
header{
    color: #161682;
    margin-bottom: 50px;
}
  .header_logo{
   display: inline-block;
}
  .menus{
    float: right;
    list-style-type: none;
}
  .menu{
    margin-right: 15px;
    float: left;
}
  .box{
    background: #161682;
    width: 1200px;
    height: 150px;
    position: absolute;
    bottom: 1px;
}
.picture img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: 0;
    z-index: 50;
}

.main{
    position: relative;  
}
.content{
    font-size: 50px;
    top: 300px;
}